<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <!-- Navigation -->
      <nav class="footer__navigation">
        <div class="footer__logo">
          <a href="/"
            ><img
              class=""
              src="../../../assets/img/logo.svg"
              alt="Логотип сучасної пекарні"
          /></a>
        </div>
        <ul class="footer__list">
          <li>
            <a
              class="footer__list-item"
              routerLink="."
              fragment="traditions-section"
              >Наші традиції</a
            >
          </li>
          <li>
            <a class="footer__list-item" routerLink="." fragment="chefs-section"
              >Шеф-кухарі</a
            >
          </li>
          <li>
            <a
              class="footer__list-item"
              routerLink="."
              fragment="formats-section"
              >Формати</a
            >
          </li>
          <li>
            <a
              class="footer__list-item"
              routerLink="."
              fragment="contacts-section"
              >Контакти</a
            >
          </li>
        </ul>
      </nav>
      <div class="footer__additional-info">
        <!-- Address -->
        <address class="footer__address">
          <ol class="footer__address-list">
            <li>
              <a class="footer__address-list-item" href="tel:+380960000007"
                >+38 (096) 000 00 07</a
              >
            </li>
            <li>
              <a
                class="footer__address-list-item"
                href="mailto:shopbakery@gmail.com"
                >shopbakery&#64;gmail.com</a
              >
            </li>
            <li>
              <a
                class="footer__address-list-item"
                href="https://maps.app.goo.gl/6RPiCupo9hWw26zt6"
                target="_blank"
                rel="noopener noreferrer"
              >
                Україна, м. Київ, <br />
                вул. Січових Стрільців 54
              </a>
            </li>
          </ol>
          <ul class="footer__media-list">
            <li>
              <a href="/" target="_blank" rel="noopener noreferrer">
                <svg class="media-icon" width="32px" height="32px">
                  <use href="../../../assets/img/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="/" target="_blank" rel="noopener noreferrer">
                <svg class="media-icon" width="32px" height="32px">
                  <use
                    href="../../../assets/img/icons.svg#icon-instagram"
                  ></use>
                </svg>
              </a>
            </li>
          </ul>
        </address>
        <div class="footer__policy">
          <p>
            <a
              class="footer__confidentiality"
              href="#"
              target="_blank"
              rel="noopener noreferrer"
              >Політика конфіденційності</a
            >
          </p>
          <p class="copyright">&copy; 2022 Дані захищені</p>
        </div>
      </div>
    </div>
  </div>
</footer>
