<!-- Header Section -->
<header class="header" appHeader>
  <div class="container">
    <div class="header__inner">
      <!-- Navigation -->
      <nav class="header__navigation">
        <a href="/" class="header__logo"
          ><img src="assets/img/logo.svg" alt="Логотип сучасної пекарні"
        /></a>
        <ul class="header__list">
          <li>
            <a
              class="header__list-item"
              routerLink="."
              fragment="traditions-section"
              >Наші традиції</a
            >
          </li>
          <li>
            <a class="header__list-item" routerLink="." fragment="chefs-section"
              >Шеф-кухарі</a
            >
          </li>
          <li>
            <a
              class="header__list-item"
              routerLink="."
              fragment="formats-section"
              >Формати</a
            >
          </li>
          <li>
            <a
              class="header__list-item"
              routerLink="."
              fragment="contacts-section"
              >Контакти</a
            >
          </li>
          <li>
            <a
              class="header__list-item"
              routerLink="/sponsor"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Яспонсор</a
            >
          </li>
        </ul>
      </nav>
      <button
        matButton="filled"
        color="primary"
        class="callback-button callback-button--header modal-btn-open"
        (click)="openDialog()"
      >
        Замовити дзвінок
      </button>
      <button matMiniFab aria-label="Menu open" (click)="onToggle()">
        <mat-icon fontIcon="menu_open">Menu</mat-icon>
      </button>
    </div>
  </div>
</header>
