<!-- Header Section -->
<header class="header">
  <div class="container">
    <div class="header__inner">
      <!-- Navigation -->
      <nav class="header__navigation">
        <a href="/" class="header__logo"
          ><img src="assets/img/logo.svg" alt="Логотип сучасної пекарні"
        /></a>
        <ul class="header__list">
          <li>
            <a class="header__list-item" href="#traditions-section"
              >Наші традиції</a
            >
          </li>
          <li>
            <a class="header__list-item" href="#chefs-section">Шеф-кухарі</a>
          </li>
          <li>
            <a class="header__list-item" href="#formats-section">Формати</a>
          </li>
          <li>
            <a class="header__list-item" href="#contacts-section">Контакти</a>
          </li>
        </ul>
      </nav>
      <button mat-flat-button color="primary">Home</button>
      <!-- <button
          class="callback-button callback-button--header modal-btn-open"
          type="button"
        >
          Замовити дзвінок
        </button>
        <button type="button" class="burger-button menu-btn-open">
          <svg width="24px" height="24px">
            <use href="./img/icons.svg#icon-burger"></use>
          </svg>
        </button>
        <div class="mobile-menu">
          <button class="mobile-menu__button menu-btn-close" type="button">
            <svg width="16px" height="16px">
              <use href="./img/icons.svg#icon-close"></use>
            </svg>
          </button>
          <nav class="mobile-menu__navigation">
            <a href="/" class="mobile-menu__logo"
              ><img
                class=""
                src="./img/mobile-menu-logo.svg"
                alt="Логотип сучасної пекарні"
            /></a>
            <ul class="mobile-menu__list">
              <li>
                <a class="mobile-menu__list-item" href="#traditions-section"
                  >Наші традиції</a
                >
              </li>
              <li>
                <a class="mobile-menu__list-item" href="#chefs-section"
                  >Шеф-кухарі</a
                >
              </li>
              <li>
                <a class="mobile-menu__list-item" href="#formats-section"
                  >Формати</a
                >
              </li>
              <li>
                <a class="mobile-menu__list-item" href="#contacts-section"
                  >Контакти</a
                >
              </li>
            </ul>
          </nav>
        </div> -->
    </div>
  </div>
</header>
