<section class="contacts" id="contacts-section">
  <div class="container">
    <div class="contacts__inner">
      <div class="contacts__content">
        <h2 class="contacts__title">
          Приєднуйся до <br />
          мережі пекарень
        </h2>
        <p class="contacts__text accent-color-dark">
          Заповни форму, щоб ми звʼязались з тобою!
        </p>
        <app-contact-form></app-contact-form>
      </div>
      <app-map-frame></app-map-frame>
    </div>
  </div>
</section>
