<section class="contacts" id="contacts-section">
  <div class="container">
    <div class="contacts__inner">
      <div class="contacts__content">
        <h2 class="contacts__title">
          Приєднуйся до <br />
          мережі пекарень
        </h2>
        <p class="contacts__text accent-color-dark">
          Заповни форму, щоб ми звʼязались з тобою!
        </p>
        <app-contact-form></app-contact-form>
      </div>
      <iframe
        class="contacts__map"
        title="Address"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.163447036115!2d30.48869837606083!3d50.45668098691572!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce637c006b2d%3A0xaf86385f19996ff0!2z0LLRg9C70LjRhtGPINCh0ZbRh9C-0LLQuNGFINCh0YLRgNGW0LvRjNGG0ZbQsiwgNTQsINCa0LjRl9CyLCDQo9C60YDQsNGX0L3QsCwgMDIwMDA!5e0!3m2!1suk!2spl!4v1731001855525!5m2!1suk!2spl"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</section>
