<div class="mobile-menu">
  <nav class="mobile-menu__navigation">
    <a href="/" class="mobile-menu__logo"
      ><img
        class=""
        src="assets/img/mobile-menu-logo.svg"
        alt="Логотип сучасної пекарні"
    /></a>
    <ul class="mobile-menu__list">
      <li>
        <a
          class="mobile-menu__list-item"
          href="#traditions-section"
          (click)="toggle()"
          >Наші традиції</a
        >
      </li>
      <li>
        <a
          class="mobile-menu__list-item"
          href="#chefs-section"
          (click)="toggle()"
          >Шеф-кухарі</a
        >
      </li>
      <li>
        <a
          class="mobile-menu__list-item"
          href="#formats-section"
          (click)="toggle()"
          >Формати</a
        >
      </li>
      <li>
        <a
          class="mobile-menu__list-item"
          href="#contacts-section"
          (click)="toggle()"
          >Контакти</a
        >
      </li>
    </ul>
  </nav>
</div>
