/* Backdrop */

// mobile
// tablet
// desktop

@use "@angular/material" as mat;

/* Variables */
@use "../../styles/variables.scss" as *;

.modal {
  position: relative;
  padding: 40px;
  text-align: center;

  @media screen and (min-width: $bp-tablet) {
    padding: 40px 80px;
  }

  @media screen and (min-width: $bp-desktop) {
    padding: 42px 144px;
  }

  .mat-mdc-dialog-actions {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 34px;
    height: 34px;
    padding: 0px;

    @media screen and (min-width: $bp-tablet) {
      top: 24px;
      right: 24px;
    }

    .modal__button {
      display: flex;
      padding: 2px;
      border: 1px solid transparent;
      background-color: transparent;
      transition: border-radius 0.2s ease, border 0.2s ease;

      &:hover {
        border: 1px solid $primary-dark;
        border-radius: 50%;
      }
    }

    .mat-icon {
      font-size: 32px;
      width: 32px;
      height: 34px;
      background-color: transparent;

      @include mat.icon-overrides(
        (
          color: $primary-dark,
        )
      );

      &:hover {
        @include mat.icon-overrides(
          (
            color: $accent-color-dark,
          )
        );
      }
    }
  }

  &__header {
    line-height: 1;
    margin-bottom: 12px;

    @media screen and (min-width: $bp-tablet) {
      line-height: 1.5;
      margin-bottom: 0px;
    }
  }

  &__content {
    color: $accent-color-dark;
  }

  .mat-mdc-dialog-content {
    padding: 20px 0px;
    overflow: hidden;

    //Decoration
    &::after {
      content: "";
      display: none;
      position: absolute;
      left: 0;
      bottom: 20px;
      height: 122px;
      width: 96px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-image: url("../../../assets/img/decoration/modal-bread.png");

      @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url("../../../assets/img/decoration/modal-bread@2x.png");
      }

      @media screen and (min-width: $bp-tablet) {
        display: block;
      }
    }
  }
}
