<section class="benefits">
  <div class="container">
    <h2 class="visually-hidden">Наші переваги</h2>
    <ul class="benefits__list">
      <li class="benefits__list-item">Великий попит на ринку</li>
      <li class="benefits__list-item">Доступні за бюджетом формати</li>
      <li class="benefits__list-item">Досвідчена управлінська команда</li>
    </ul>
    <mat-list class="custom-list" role="list">
      <mat-list-item role="listitem">Великий попит на ринку</mat-list-item>
      <mat-list-item role="listitem"
        >Доступні за бюджетом формати</mat-list-item
      >
      <mat-list-item role="listitem"
        >Досвідчена управлінська команда</mat-list-item
      >
    </mat-list>
  </div>
  <button matButton>Outlined</button>
</section>
