<section class="benefits">
  <div class="container">
    <h2 class="visually-hidden">Наші переваги</h2>
    <mat-list role="list" class="benefits__list">
      <mat-list-item role="listitem" class="benefits__list-item"
        >Великий попит на ринку</mat-list-item
      >
      <mat-list-item role="listitem" class="benefits__list-item"
        >Доступні за бюджетом формати</mat-list-item
      >
      <mat-list-item role="listitem" class="benefits__list-item"
        >Досвідчена управлінська команда</mat-list-item
      >
    </mat-list>
  </div>
</section>
