/* Buttons */

// mobile
// tablet
// desktop

/* Variables */
@use "../variables" as *;

.callback-button.mdc-button {
  display: block;
  padding: 0px;
  min-height: 42px;
  border-radius: 8px;

  transition: background-color 0.2s ease, color 0.2s ease;

  @media screen and (min-width: $bp-desktop) {
    min-height: 58px;
  }

  &:hover {
    color: $accent-color-dark;
    background-color: $primary-light;
  }
}

.mdc-button__label {
  padding: 0px 24px;
}

// Modificator hero
.callback-button.mdc-button.callback-button--hero {
  margin: 0px auto;

  @media screen and (min-width: $bp-tablet) {
    min-height: 56px;
  }

  @media screen and (min-width: $bp-desktop) {
    display: none;
  }
}

// Modificator header
.callback-button.mdc-button.callback-button--header {
  display: none;

  @media screen and (min-width: $bp-desktop) {
    display: block;
  }
}

// Modificator contacts
.callback-button.mdc-button.callback-button--contacts {
  margin: 0px auto;
  border: 2px solid $accent-color-light;

  @media screen and (min-width: $bp-tablet) {
    margin: 0px auto 16px;
  }
}

// Modificator dialog confirm
.callback-button.mdc-button.callback-button--dialog-confirm {
  margin: 0px auto;
  min-width: 80px;
  border: 2px solid $accent-color-light;

  @media screen and (min-width: $bp-tablet) {
    margin: 0px auto 16px;
  }
}

// Modificator dialog cancel
.callback-button.mdc-button.callback-button--dialog-cancel {
  margin: 0px auto;
  min-width: 80px;
  background-color: transparent;
  color: $accent-color-light;
  border: 2px solid $accent-color-light;

  @media screen and (min-width: $bp-tablet) {
    margin: 0px auto 16px;
  }

  &:hover {
    color: $primary-light;
    background-color: $accent-color-dark;
  }
}
